<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Forms</title>
</head>
<body>
<form action="/login" method="post">
    <label for="">Name</label>
    <input type="text" placeholder="name" name="username">
    <label for="">Password</label>
    <input type="password" placeholder="password" name="password">
    <button type="submit">Submit</button>
</form>
</body>
</html>