<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MyWebsite</title>
</head>
<body>
    <h1>Hello World!</h1>
    <h2>{{ 5 * 6 }}</h2>
    <h3>Random Number : {{ number }}</h3>
</body>
<footer id="footer">
    <ul class="copyright">
        <li>&copy; {{ year }} Harry Cashel</li>
    </ul>
</footer>
</html>