<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="icon" href="../static/images/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:wght@100&family=Sacramento&display=swap" rel="stylesheet">
    <title>Harry Cashel</title>
</head>

<body>
    <div class="top-container">
        <img id="top-cloud" src="../static/images/cloud.png" alt="Picture of clouds">
        <h1>I'm Harry</h1>
        <h2 id="subtitle">A software <span class="engin">engin</span>eer</h2>
        <img id="bottom-cloud" src="../static/images/cloud.png" alt="Picture of clouds">
        <img src="../static/images/mountain.png" alt="Picture of a mountains">
    </div>
    <div class="middle-container">
        <div class="profile">
            <img src="../static/images/suit_smiling_headshot.png" width="250" height="250" alt="photo of Harry smiling">
            <h2>Hello.</h2>
            <p class="open-blurb">I am an aspiring software engineer. An alumni of Coder Academy. I love learning new skills and perfecting
            current skills. If I'm not coding or listening to lectures you'll find me in the gym or the kitchen.</p>
        </div>
        <hr>
        <div class="skills">
            <h2>My Skills.</h2>
            <div class="skill-row">
              <img class="oop-img" src="../static/images/OOP.jpeg" alt="">
              <h3>Object-Orientated Programming</h3>
              <p class="code-skill-desc-left">Clean, DRY code. Understanding the concepts of objects, serialisation and deserialization.
                  For example encoding native python data types to JSON format - converting python object to json object and vise versa.
                  Understanding the concepts of classes, class methods and attributes. These model the blueprint for an object as well as the behaviour and state.
              </p>
            </div>
            <div class="skill-row">
              <img class="python-img" src="../static/images/python.gif" alt="">
              <h3>Python Programming</h3>
              <p class="code-skill-desc-right">Very confident in Python. Scripting, functional programming or OOP. Create Web Apps and API's with Flask, object serialisation/deserialization with Marshmallow,
                  and database integration (ORM) via SQL/SqlAlchemy. </p>
            </div>
            <div class="skill-row">
              <img class="api-img" src="../static/images/api.png" alt="">
              <h3>Application Programming Interface</h3>
              <p class="code-skill-desc-left">I make API calls every day of the week. Confident in serialisation and deserialization.
              Whether integrating a program with existing API's or building API's from the ground up.
              Storing, fetching and parsing data is my bread and butter.</p>
            </div>
            <div class="skill-row">
              <img class="aws-img" src="../static/images/aws.gif" alt="">
              <h3>Amazon Web Services</h3>
              <p class="code-skill-desc-right">Currently Studying for my Amazon Web Services Certified Solutions Architect - Associate Certificate.
              Wow, what a mouthful! I am comfortable with a number of AWS services. EC2 for virtual servers, S3 for scalable storage,
              RDS for Relational Database Services with SQL (PostgreSQL) and AWS Elastic Beanstalk for scalable deployment of web apps.</p>
            </div>
        </div>
        <hr>
        <div class="contact-me">
            <h2>Get In Touch</h2>
            <h3>Actively seeking internships & Junior Developer roles.</h3>
            <p class="contact-msg">If your team needs a motivated and hungry professional, you can email me by clicking below!</p>
            <a class="btn" href="mailto:cashel.harry@gmail.com">CONTACT ME</a>
        </div>
    </div>

    <div class="bottom-container">
        <a class="footer-link" href="https://www.linkedin.com/in/harry-cashel/" target="_blank">LinkedIn</a>
        <a class="footer-link" href="https://github.com/HarryCashel" target="_blank">GitHub</a>
        <a class="footer-link" href="https://drive.google.com/file/d/1m4IPRE4QRkpGLHir-L6VukVuQe-F5Gti/view?usp=sharing" target="_blank">Resume</a>
        <p class="copy">© 2021 Harry Cashel.</p>
    </div>


</body>
</html>