

.top-container {
    background-color: #DEFCF9;
}

.middle-container {
    width: 200px;
    height: 200px;
    background-color: red;
}

.bottom-container {
    width: 200px;
    height: 200px;
    background-color: blue;
}
h1 {
    margin: 0;
}

body {
    margin: 0;
}